@media(min-width:100px){
    .task h3{
        color : red;
    }
}

@media(min-width:200px){
    .task h3{
        color : blue;
    }
}

@media(min-width:300px){
    .task h3{
        color : green;
    }
}

@media(min-width:400px){
    .task h3{
        color : yellow;
    }
}

@media(min-width:500px){
    .task h3{
        color : orange;
    }
}

@media(min-width:600px){
    .task h3{
        color : purple;
    }
}

@media(min-width:700px){
    .task h3{
        color : red;
    }
}

@media(min-width:800px){
    .task h3{
        color : blue;
    }
}

@media(min-width:900px){
    .task h3{
        color : orange;
    }
}   

@media(min-width:1000px){
    .task h3{
        color : grey;
    }
}   