.t{
  background: red;
}

.t1{
  opacity: 0;
}

.t2{
  display: none;  
}

.t3{
  transform : scale(0);
}

.t4{
  background: white;
  color:white;
}

.t5{
  visibility: hidden;
}

.t6{
  position: absolute;
  left: -9999px;
}

